@font-face {
    font-family: "DistantGalaxy";
    src: local("DistantGalaxy"), url("/fonts/DistantGalaxy/SfDistantGalaxy.ttf") format("truetype");
    font-weight: normal;
}

body {
    background: url("/background.png");
    font-family: DistantGalaxy, sans-serif;
}